specVersion: 0.0.5
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: Bodhi
    network: optimism
    source:
      abi: Bodhi
      address: "0x2AD82A4E39Bac43A54DdfE6f94980AAf0D1409eF"
      startBlock: 113209482
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - Create
      abis:
        - name: Bodhi
          file: ./abis/Bodhi.json
      eventHandlers:
        - event: Create(indexed uint256,indexed address,string)
          handler: handleCreate
        - event: Remove(indexed uint256,indexed address)
          handler: handleRemove
        - event: Trade(indexed uint8,indexed uint256,indexed
            address,uint256,uint256,uint256)
          handler: handleTrade
        - event: TransferBatch(indexed address,indexed address,indexed
            address,uint256[],uint256[])
          handler: handleTransferBatch
        - event: TransferSingle(indexed address,indexed address,indexed
            address,uint256,uint256)
          handler: handleTransferSingle
      file: ./src/bodhi.ts
  - kind: ethereum
    name: SpaceFactory
    network: optimism
    source:
      abi: SpaceFactory
      address: "0xA14D19387C83b56343fC2E7a8707986aF6a74d08"
      startBlock: 119048371
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - SpaceFactoryCreate
      abis:
        - name: SpaceFactory
          file: ./abis/SpaceFactory.json
      eventHandlers:
        - event: Create(uint256,indexed address,indexed uint256,address,string)
          handler: handleSpaceCreate
      file: ./src/space-factory.ts
  - kind: ethereum
    name: BodhiTradeHelper
    network: optimism
    source:
      abi: BodhiTradeHelper
      address: "0x59301bb28884b477dEc0F238c60650b60a691Eb9"
      startBlock: 119048281
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - SafeBuy
      abis:
        - name: BodhiTradeHelper
          file: ./abis/BodhiTradeHelper.json
      eventHandlers:
        - event: SafeBuy(indexed uint256,indexed address,uint256,uint256)
          handler: handleSafeBuy
      file: ./src/bodhi-trade-helper.ts
templates:
  - kind: ethereum
    name: Space
    network: optimism
    source:
      abi: Space
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - SpaceCreate
      abis:
        - name: Space
          file: ./abis/Space.json
      eventHandlers:
        - event: Create(indexed uint256,indexed uint256,indexed address)
          handler: handlePostCreate
        - event: Remove(indexed uint256)
          handler: handlePostRemove
      file: ./src/space.ts
