specVersion: 0.0.5
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: Bodhi
    network: mainnet
    source:
      abi: Bodhi
      address: "0x5FbDB2315678afecb367f032d93F642f64180aa3"
      startBlock: 0
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - Create
      abis:
        - name: Bodhi
          file: ./abis/Bodhi.json
      eventHandlers:
        - event: Create(indexed uint256,indexed address,string)
          handler: handleCreate
        - event: Remove(indexed uint256,indexed address)
          handler: handleRemove
        - event: Trade(indexed uint8,indexed uint256,indexed
            address,uint256,uint256,uint256)
          handler: handleTrade
        - event: TransferBatch(indexed address,indexed address,indexed
            address,uint256[],uint256[])
          handler: handleTransferBatch
        - event: TransferSingle(indexed address,indexed address,indexed
            address,uint256,uint256)
          handler: handleTransferSingle
      file: ./src/bodhi.ts
  - kind: ethereum
    name: SpaceFactory
    network: mainnet
    source:
      abi: SpaceFactory
      address: "0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9"
      startBlock: 0
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - SpaceFactoryCreate
      abis:
        - name: SpaceFactory
          file: ./abis/SpaceFactory.json
      eventHandlers:
        - event: Create(uint256,indexed address,indexed uint256,address,string)
          handler: handleSpaceCreate
      file: ./src/space-factory.ts
  - kind: ethereum
    name: BodhiTradeHelper
    network: mainnet
    source:
      abi: BodhiTradeHelper
      address: "0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0"
      startBlock: 0
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - SafeBuy
      abis:
        - name: BodhiTradeHelper
          file: ./abis/BodhiTradeHelper.json
      eventHandlers:
        - event: SafeBuy(indexed uint256,indexed address,uint256,uint256)
          handler: handleSafeBuy
      file: ./src/bodhi-trade-helper.ts
  - kind: ethereum
    name: Wishpool
    network: mainnet
    source:
      abi: Wishpool
      address: "0x71089Ba41e478702e1904692385Be3972B2cBf9e"
      startBlock: 0
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - Wish
        - Submission
      abis:
        - name: Wishpool
          file: ./abis/Wishpool.json
      eventHandlers:
        - event: CreateWish(indexed uint256,indexed address,indexed address)
          handler: handleCreateWish
        - event: Submit(indexed uint256,indexed address,uint256)
          handler: handleSubmit
        - event: Reward(indexed uint256,indexed address,indexed uint256,uint256,uint256)
          handler: handleReward
      file: ./src/wishpool.ts
templates:
  - kind: ethereum
    name: Space
    network: mainnet
    source:
      abi: Space
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - SpaceCreate
      abis:
        - name: Space
          file: ./abis/Space.json
      eventHandlers:
        - event: Create(indexed uint256,indexed uint256,indexed address)
          handler: handlePostCreate
        - event: Remove(indexed uint256)
          handler: handlePostRemove
      file: ./src/space.ts
